svg {
  vertical-align: baseline
}

p {
  margin-bottom: 0em!important;
}

.ant-table-pagination {
  margin: 16px!important;
}

.ant-table-thead {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.ant-form-item-label {
  @apply text-sm;
  @apply font-medium;
  @apply text-gray-900;
}

.ant-select-selector {
  @apply !important rounded-md;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  @apply ring-indigo-500;
  @apply border-indigo-500;
  @apply border-2;
  @apply shadow-none;
}